body {
    width: 100%;
    height: auto;
    background: radial-gradient(circle, rgba(238,237,255,1) 0%, rgba(252,233,250,0.773546918767507) 35%, rgba(231,251,255,1) 100%);
    display: flex;
    flex-direction: row;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(41, 41, 42);
}

.container {
    display: flex;
}

#activities {
    font-weight: 700;
}

.main-page.container{
    padding: 100px 120px;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin-left: 100px;
    background: white;
    box-shadow: 5px 5px 10px gray;
    font-size: 1em;
    gap: 50px;
    
}

img.collage {
    width: 600px;
    margin: auto;
}


.main-page h1 {
    font-size: 3em;
    border-bottom: 1px solid rgb(115, 115, 116);
    padding: 5px 10px 10px 10px;
    line-height: 100%;
    text-align: center;


}


.main-page .container {
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: 150%;
    gap: 50px;

}

.container.text-box {
    text-indent: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    text-align: justify;

}

#design .image-container img {
    width:240px;
    height:320px;
}

.image-container {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}