
.container {
    display: flex;
}

#activities {
    font-weight: 700;
}


img.collage {
    width: 600px;
    margin: auto;
}


.page-content h1 {
    font-size: 3em;
    border-bottom: 1px solid rgb(115, 115, 116);
    padding: 5px 10px 10px 10px;
    line-height: 100%;
    text-align: center;


}


.page-content .container {
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: 150%;
    gap: 50px;

}

.container.text-box {
    text-indent: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    text-align: justify;

}

#design .image-container img {
    width:240px;
    height:320px;
}

.image-container {
    padding-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.activity.container {
    padding-bottom: 20px;
}