
.container {
    display: flex;
}

#activities {
    font-weight: 700;
}


img.collage {
    width: 30vw;
    margin: auto;
}


.page-content h1 {
    font-size: 2rem;
    border-bottom: 1px solid rgb(115, 115, 116);
    padding: 5px 10px 10px 10px;
    line-height: 100%;
    text-align: center;


}


.page-content .container {
    justify-content: space-between;
    align-items: center;
    height: auto;
    line-height: 130%;
    gap: 2rem;
    font-size: 0.8rem;

}

.container.text-box {
    text-indent: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    text-align: justify;

}

#design .image-container img {
    width:150px;
    height:200px;
}

.image-container {
    padding-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.activity.container {
    padding-bottom: 2rem;
}